/* Grid main*/ 
.gridprincipal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    gap: 2px;
    grid-template-areas: 
        "im1 tex1 tex1"
        "tex2 tex2 img2"
    ;
}

.im1 {
    grid-area: im1;
}

.tex1 {
    grid-area: tex1;
}

.img2{
    grid-area: img2;
}

.tex2 {
    grid-area: tex2;
}
.gridprincipal__texto {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-items: center;
    align-items: center;  
    text-align: center;   
    
}
.gridprincipal__texto1 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-align: center;
   
}
.gridprincipal__imagen{
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 3px 3px 10px black; 
    background-size: cover;
    max-width: 400px;
    max-height: 300px;
   
}


ul{   
    list-style-type: none;
    
}
td{
    text-align: center;
    width: 200px;
    
}
th{ 
    justify-content: center;
    text-align: center;
    width: 200px;
 
}

th.bg-dark{
    color:#fcc300;

}



.contenedor__Centro{
    display: flex;
    
    justify-content: center;
    
}




.divDestacado__enlaces{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 5px;
    height: 10px;
    background-color: grey; /*formato links, tecxto y color de fondo*/ 
}
.divDestacado__enlaces:hover{  
    font-size: 20px;
    height: 40px;
    background-color:#ffc300;
    color:#000;
    border-radius: 50px;
    }

      
      .divDestacado__enlaces {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 5px;
        height: 10px;
        background-color: grey;
        /*formato links, tecxto y color de fondo*/
      }
      
      .divDestacado__enlaces:hover {
        font-size: 20px;
        height: 40px;
        background-color: #ffc300;
        color: #000;
        border-radius: 50px;
      }
      
      /* Carrusel */
      .carousel-item img {
        object-fit: cover;
        height: 500px;
      }
      
      .divDestacados__testimonios {
        background-image: url("https://images.pexels.com/photos/7034056/pexels-photo-7034056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 ");
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        color: #Fff;
        text-align: center;
        margin: 1rem;
        background-size: cover;
      }
      
      .divDestacados__testimonios_principal {
        background-image: url("https://images.pexels.com/photos/2861798/pexels-photo-2861798.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        color: #Fff;
        text-align: center;
        margin: 1rem;
        background-size: cover;
      }
      
      .divDestacados__testimonios_pricipal1 {
        background-image: url("https://images.pexels.com/photos/6347901/pexels-photo-6347901.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        color: #Fff;
        text-align: center;
        margin: 1rem;
        background-size: cover;
      }
      
      .divDestacados__testimonisos:hover {
        color: #ff0a99;
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
      }
      
      .divDestacados__testimonios_principal:hover {
        color: #ff0a99;
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
      }
      
      .divDestacados__testimonios_pricipal1:hover {
        color: #ff0a99;
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
      }
      
      .divDestacados {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
      }
/* Carrusel */


.carousel-item img{
    object-fit: cover;
    height: 500px;
    }

    


$index: ( 
    testimonios: "https://images.pexels.com/photos/7034056/pexels-photo-7034056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 ",
    testimonios_principal: "https://images.pexels.com/photos/2861798/pexels-photo-2861798.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" ,
    testimonios_pricipal1: "https://images.pexels.com/photos/6347901/pexels-photo-6347901.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
); 

@each $novedad, $valor in $index {
    .divDestacados__#{$novedad} {
        background-image: url($valor);
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;    
        color:#Fff;
        text-align: center;
        margin: 1rem;
        background-size: cover;
    }
}



$indexHover:( 
testimonisos: testimonios,
testimonios_principal: testimonios_principal,
testimonios_pricipal1: testimonios_pricipal1,
);

@each $novedad, $valor in $indexHover {
    .divDestacados__#{$novedad}:hover{
    color: #ff0a99; 
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black; 
    }
}


.divDestacados{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
 }