 /*********************************************/
  /**********   @MEdia *************************/
  /*********************************************/

  @media (max-width: 1000px) {
    .card__novedades {
      width: 45%;
    }
    .carta {
      justify-content: space-around;
    }
  }

  @media (max-width: 768px) {

    .movilmetodopago{

        flex-direction: column;
        align-items: flex-start;
    }
    .card_novedades{
        width: 100%;
    }
     .hero__h1{            
            font-size: 35px;
            text-align: center;
        }
           
             

    .hero__content{
    width: 100%;
    font-size: 30px;     
    }
    .h2titulo{
        font-size: 25px;       
    }
  
    .h3, h3 {
        margin-top: 1.5rem;
        font-size: 15px;
    }

    .divDestacados{
       display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
                   
    }

     .gridprincipal {
        
        display: grid;
        grid-template-columns: 1fr ;
        gap: 3;
        font-size: 14px;
        grid-template-areas: 
            "im1"
            "tex1"
            "img2"
            "tex2"   
        ;
      
 }
 .gridprincipal__texto1{
      
    display: flex;
    align-content: center;
    justify-content:center ;
   
}
.gridprincipal__imagen{  
    width: 100%;
    align-items: center;
    justify-content:center ;
}


.galefiaImg{
      
        width: 90%;
        height: 200px;
        margin: 0 auto;
        overflow-x: auto;

}

.conteiner-footer-all{
    width: 100%;
    max-width: 1200px;
  }
  
 .divFfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-items: center;
  text-align: center;
 }

 .nada{
     display: none;
 }
 .tituloH3test{

    margin: 2rem ;
 }

.parraDiv{
    width: 100%;
    text-align: center;
  }
  .spantest{
    width: 100px;
    margin: 1rem; 
    height: 50px;  
}
.destacadotest{      
    padding: 1rem 0 2rem 0;
    
}
.divtest__spamDestacado{
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    height: 90px;
    width: 140px;

}
.navbar>.container{    
    margin-left: 1rem;
    margin-right: 2rem;
}

/*-Precios-*/

.grid-contenedor {
   
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-template-areas: 
        "item1"
        "item2" 
        "item3"
        "item4" 
        "item5" 
        "item6"
    ;
}

.diveleccion{
    justify-content:center;    
    flex-direction:column;  
 }
 .parraeleccionInv{
    display: flex;
    width: 300px;
    margin: 1rem;
    align-items: center;
    text-align: center;
}
.parraeleccion{
    margin: 1rem;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.diveleccion{   
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction:row;  
 }
 .textForm{  
   width: 100%;
   height: 100%;
    
}
.seccion.seccion--pagos {
    background-color: #EBEBEB;
    height: auto;
    color: rgb(243, 18, 123);
    }
    
    .payment h3, .payment a {
    color: #000;
    }
    
    .payment {
    flex-basis: 25%;
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    }
    
    .payment.payment--more {
    flex-basis: 0;
    flex-grow: 0;
    }
    
    .payments {
    border-radius: 5px;
    background-color: #fff;
    padding: 1rem;
    }  
    .card {
      width: 300px;
      background-color: #eed8ea;
      color: #000;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      }
      
      .card__container-img {
      
      overflow: hidden;
      width: auto;
      height: 300px;
      }
      .card__container1-img {
      
      overflow: hidden;
      width: auto;
      height: 150px;
      }
      
      .card__img {
      width: 100%;
      object-fit: cover;
      transition: all 1s;
      }
      
      .card__container-img:hover img {
      transform: scale(1.2);
      }
      .card-img {
      width: 100px;
      color: #b7c76e;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      
      }
  
  .flex {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    
    }
    .card__container-body {
      padding: 1rem;
      }
  
    .contenedor {
      background-color: transparent;
      max-width: 100%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
 /* -Soluciones y test-*/
 .divtest{  
    flex-direction:column;
    width: 100%;
    justify-content: center;
    align-items: center;

 }
 .divtest__h3{

    margin: 2rem ;

}
 .divtest__contenedor{
    display: flex;
    flex-direction: column; 
    width: 100%;  
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: .5rem;
    background-image: url(https://images.pexels.com/photos/256417/pexels-photo-256417.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    
   
}
.divtestInverso{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: .5rem;
}
.divtest__parrafo{
    width: 100%;
    text-align: center;
  }

  .divtest__spam{
    width: 100px;
    margin: 1rem;   
    text-align: center;
}
.divtest__spamDestacado{      
    padding: 1rem 0 2rem 0;
   
}

.divtest__h3{
    text-align: center;

}
}